@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

header{
    height: 70px;
    background: #303030;
    color: #fff;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.col-1{
    width: 40%;
}

.logo{
    height: 70px;
}